# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
src/META-INF
.DS_Store
sql/.DS_Store
src/.DS_Store
